body, h1, h2, h3, p, ul, li, img, table, th, td, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: whitesmoke;
    overflow: visible;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    position: relative;
}

.nav-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item-separator{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 16px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 110px;
    z-index: 1000;
}

.submenu li a {
    padding: 10px 20px;
    color: black;
}

.submenu li a:hover {
    background-color: whitesmoke;
}

.nav-item:hover .submenu {
    display: block;
}

.button {
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.button:hover {
    background-color: #005bb5;
}

.hero {
    margin: 5px;
    text-align: center;
    padding: 150px 20px;
    background: url('img/iphone-hero.jpg') no-repeat center center/cover;
    color: white;
}

.hero h1 {
    font-size: 7em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0071e3;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
}

.hero button:hover {
    background-color: #005bb5;
}

.hero-2 {
    margin: 5px;
    text-align: center;
    padding: 150px 20px;
    color: white;
}

.hero-2 h1 {
    font-size: 7em;
    margin: 0;
}

.hero-2 p {
    font-size: 1.5em;
    margin: 20px 0;
}

.hero-2 button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0071e3;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
}

.hero-2 button:hover {
    background-color: #005bb5;
}

.hero-3 {
    margin: 5px;
    text-align: center;
    padding: 150px 20px;
    color: white;
}

.hero-3 h1 {
    font-size: 7em;
    margin: 0;
    color: black;
    letter-spacing: 1px;
}

.hero-3 h4 {
    font-size: 2em;
    margin: 0;
    color: black;
}

.hero-3 p {
    font-size: 1.5em;
    margin: 10px 0;
    color: black;
}

.hero-3 button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0071e3;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
}

.hero-3 button:hover {
    background-color: #005bb5;
}

.hero-4 {
    margin: 5px;
    text-align: center;
    padding: 150px 20px;
    color: white;
}

.hero-4 h1 {
    font-size: 7em;
    margin: 0;
    color: white;
    letter-spacing: 1px;
}

.hero-4 h4 {
    font-size: 2em;
    margin: 0;
    color: red;
}

.hero-4 p {
    font-size: 1.5em;
    margin: 10px 0;
    color: white;
}

.hero-4 button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0071e3;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
}

.hero-4 button:hover {
    background-color: #005bb5;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin: 5px 0 0;
    color: #555;
}

